
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    
    
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    
}

.wrapper{
    background: #eeeeee;
    padding-top: 50px;
    margin-bottom: 80px;
}
.button {
    display: block;
    height: 50px;
    width: 240px;
    border-radius: 5px;
    background-color: #fb565a;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: 18px;
    line-height: 50px;  
}
.button:hover{
background-color: #e74246;    
}
.button:active{
    color: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 2px 0 rgba(0,0,0,0.3);
    
}
.text {
    margin-bottom: 45px;
    color: #283136;
    max-width: 420px;
    line-height: 21px;
}
.border_bottom{
    border-bottom: 2px solid #e1e1e1;
    max-width: 1160px;
    margin: 0 auto;
}
/* header */
.main-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px ;
    align-items: center;
    text-transform: uppercase;
    color: #000000;
}
.logo:hover{
    opacity: 0.8;
}
.logo:active{
    opacity: 0.3;

}
.block-1{
    max-width: 1160px;
    margin: 0 auto;
    
}

.main-navigation {
    list-style: none;
    color: #000000;
    display: flex;  
}
.main-navigation a{
    color: #000000;
    font-weight: 700;
}

.main-navigation li{
    margin-left: 45px;
    padding-top: 15px;  
}
.main-navigation a:hover{
    color: red;
}
.main-navigation a:active{
    color: black;
    opacity: 0.3;
}
.main-navigation a:visited{
    color: black;
    border-bottom: 2px solid red;
}
.main-navigation a:active{
    
}
.main-basket {
    position: relative;
   padding-top: 15px;
}
.main-basket img{
    margin-right: 25px;
}
.main-basket a {
    color: #000000;
    font-weight: 700;
}
.main-basket a:hover{
    color: red;
}
.main-basket a:active{
    color: black;
    opacity: 0.3;
}
.main-basket a:visited{
    color: black;
    border-bottom: 2px solid red;
}
/* end header */
/* siema_menu */
.slide_1 {
    display: flex;
}
.slide_2 {
    display: none;
}
.slide_3 {
    display: none;
}
.slogan {
    min-width: 517px;
    margin: auto 0;
}
.slogan-1 {
    font-size: 55px;
    
    margin-bottom: 30px;
    font-weight: 700;
}

.img img{
    height: auto;
    width: 643px ;
}
/*  end siema_menu */

/* servise */
.service{
    padding-bottom: 80px;
}

.proposition{
    display: flex;
    justify-content: space-between;
    max-width: 1160px;
    margin: 0 auto;
    
}
.service_point {
    max-width: 300px;
    
}
.service_point img{
    margin-bottom: 30px ;
}
.service_point h2{
    margin-bottom: 30px;
    font-weight: 700;
}


.button1{
    width: 160px;
}
.button2{
    background-color: #00ca74;
    width: 160px;
}
.button2:hover{
    background-color: #00bc6c;
}
.button2:active{
    box-shadow: inset 0 2px 0 rgba(0,0,0,0.3);
}

.button3{
    background-color: #efc84a;
    width: 160px;
}
.button3:hover{
    background-color: #eab534;
}
.button3:active{
    box-shadow: inset 0 2px 0 rgba(0,0,0,0.3);
}
/* end service */

/* statistics*/

.statistics{
    padding-bottom: 80px;

}
.stat_block{
    display: flex;
    justify-content: space-between;
    max-width: 1160px;
    margin: 0 auto;
    
    
}
.stat_left {
    max-width: 660px;
    padding-top: 80px;

}
.stat_left h3{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 35px;
}
.stat_left p{
    margin-bottom: 35px;
}
.stat_left li{
   position: relative;
    padding: 0 0 0 35px;
    margin-bottom: 30px;
    color: #283136;
}
.stat_left li:before{
    content: "";
    width: 22px;
    height: 1.5px;
    background-color: red;
    position: absolute;
    display: block;
    left: 5px;
    top: 50%;
    
}
.stat_left li:last-child {
    margin: 0;
}
.bold{
    font-weight: 700
}
.text-long {
    max-width: 660px;
    margin-bottom: 45px;
    color: #283136;
    font-weight: 590;
    line-height: 30px;
}

.stat_right {
    max-width: 380px;
    
    
}
.stat_right img{
    margin-bottom: 40px;
    padding-top: 40px;
}

.stat_title h4 {
    font-weight: 700;
    margin-bottom: 50px;
}
.stat_persents {
    display: flex
}
.percent_amount{
    display: flex;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
}
.text_down{
    margin: 0;
}  
 span{
    font-size: 24px;
    padding-top: 2px;
}
/* end statistics */

/* companies */
.companies {
    margin-bottom: 80px ;
}

.brands{
    display: flex;
    padding: 40px 0;   
}

.brand_a{
    flex-grow: 1;
    min-height: 87px;
    min-width: 301px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
} 
.brand_a:hover{
    opacity: 1

}
.brand_a:active{
    opacity: 0.3;
}
.brand_a:after{
    content: "";
    width: 2px;
    height: 50px;
    background-color: #eeeeee;
    margin-left: 50px;
}
.brand_a:last-child{
    margin-left: -25px;
}
.brand_a:last-child:after {
    display: none;
}
/* end companies */

  /* footer */  
  footer{
    padding-bottom: 80px;
  }

  .map{
    background: url('../img/maps22.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    min-height: 420px;
    margin-bottom: 80px;
    width: 100%;

  }
.adress {
    position: relative;
    margin: 0 20px 0 20px;

    
}
.adress_position {
    background-color: white;
    position: absolute;
    padding: 50px;
    width: 320px;
    margin-top: 50px;
}


.position {
    align-items: center;
}

h4{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 30px;
}
.text1 {
    padding: 0 0 30px 0;
    color: #666666;
}
.text1 a{
    color: #666666;
}
.button4{
    width: 220px;  
}
.social_apps{
    display: flex;
    margin: 0 20px 0 20px;
    
}
.apps{
   display: flex; 
   margin-right: 140px;
}

.apps li{
    display: flex;
   justify-content: center;
    align-items: center;
    background-color: #e1e1e1;
    border-radius: 50%;
    margin-right: 12px;
    width: 80px;
    height: 80px;   
}
.apps img{
    padding: 30px;
}
.apps li:hover{
    background-color: red;

}.apps li:active{
    box-shadow: inset 0 2px 0 rgba(0,0,0,0.4);  
     
}
.apps img:active{
    opacity: 0.3;
}

.slogan{
  
}
.friends{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 15px;
}
.sale{
    color: #444444;
}

/* end footer */ 

