

body{
    font-size: 16px;
    font-weight: 24;
    font-family: 'Roboto', sans-serif;
}



.main-header {
}
.container {
}
.logo {
}
.main-navigation li{
    color: #000000;
}
.main-basket {
}
.slogan {
}
.slogan-1 {
}
.text {
}
.button {
}
