

body{
    font-size: 16px;
    font-weight: 24;
    font-family: 'Roboto', sans-serif;
    
}

.block-1{
    background: #eeeeee;
    padding-top: 50px;
    margin-bottom: 80px;
}

.main-header {
    display: flex;
    margin-bottom: 17px ;
    align-items: center;
    text-transform: uppercase;
    color: #000000;
}
.container-1{
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}
.logo {
    margin-right: 155px;
}
.main-navigation {
    list-style: none;
    color: #000000;
    display: flex;
    text-align: center;
}
.main-navigation a{
    color: #000000;

}
.main-navigation li{
    margin-left: 45px;
    padding-top: 15px;
    
}
.main-basket {
   margin-left: 240px;
   padding-top: 15px;
}
.main-basket img{
    margin-right: 25px ;
}
.main-basket a {
    color: #000000;
}
.slide_1 {
    display: flex;
}
.slide_2 {
    display: none;
}
.slide_3 {
    display: none;
}
.slogan {
    min-width: 520px;
    margin: auto 0;
}
.slogan-1 {
    font-size: 55px;
    
    margin-bottom: 30px;
    font-weight: 700;
}
.text {
    margin-bottom: 45px;
    color: #283136;
    font-weight: 590;
}
.button {
    display: block;
    height: 50px;
    width: 240px;
    
    border-radius: 5px;
    background-color: #fb565a;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: 18px;
    line-height: 50px;  
}
.img{
    height: auto;
}
.container {
    display: flex;
    max-width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
    border-bottom: 2px solid #eeeeee;
}

.service_point {
    max-width: 300px;
    margin-bottom: 80px;
}
.service_point img{
    margin-bottom: 30px ;
}
.service_point h2{
    margin-bottom: 30px;
    font-weight: 700;
}


.button1{
    width: 160px;

}
.button2{
    background-color: #00ca74;
    width: 160px;
}
.button3{
    background-color: #efc84a;
    width: 160px;
}

.statistics {
    
}

.stat_block{
    display: flex;
    margin-bottom: 80px;
}
.stat_left {
    max-width: 660px;
    padding-top: 80px;

}
.stat_left h3{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 35px;
}
.stat_left p{
    margin-bottom: 35px;
}
.stat_left li{
    background: url('../img/desh.png') 0 6px no-repeat;
    padding: 0 0 0 35px;
    margin-bottom: 30px;
    color: #283136;
}
.stat_left li:last-child {
    margin: 0;
}
.bold{
    font-weight: 700
}

.stat_right {
    margin: auto 0 auto 145px;
}
.stat_right img{
    margin-bottom: 40px;
    padding-top: 40px;
}

.stat_title h4 {
    font-weight: 700;
    margin-bottom: 50px;
}
.stat_persents {
    display: flex
}
.percent_amount{
    display: flex;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
}
  
 span{
    font-size: 24px;
    padding-top: 2px;
}


.companies {

    margin-bottom: 80px ;

}
.container{

}
.brands{
    display: flex;
    padding: 40px 0;
    
}
.brand_a{
    flex-grow: 1;
    min-height: 87px;
    min-width: 301px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.brand_a:after{
    content: "";
    width: 2px;
    height: 50px;
    background-color: #eeeeee;
    margin-left: 50px;
}
.brand_a:last-child{
    margin-left: -25px;
}
.brand_a:last-child:after {
    display: none;
}
    
.contacts {
}
.adress {
    background: url('../img/Untitled-1.png') 0 0/100% auto no-repeat scroll;
    min-height: 420px;
    position: relative;
}
.container {
}
.adress_position {
    background-color: white;
    position: absolute;
    padding: 50px;
    margin-top: 50px;
    width: 320px;
}

.position {
    align-items: center;
}

h4{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 30px;
}
.text1 {
    padding: 0 0 30px 0;
    color: #666666;
}
.text1 a{
    color: #666666;
}
.button4{
    width: 220px;  
}



